[submodule "lib/facebook-php-sdk-v4"]
	path = lib/facebook-php-sdk-v4
	url = https://github.com/facebook/facebook-php-sdk-v4
[submodule "lib/kit"]
	path = lib/kit
	url = https://github.com/commme/kit.git
